/* window { */
/*   background-image: url("/home/sqf/Pictures/Wallpapers/beach-path.png"); */
/*   background-size: cover; */
/*   background-repeat: no-repeat; */
/*   background-position: center; */
/*   background-color: black; */
/* } */
